* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #E8E9EB;
}

.menu-item.active {
    color: #F09D51;
    font-weight: 800;
}

.back-btn {
    position: fixed;
    top: 3.5vh;
    margin-left: 1.3vw;

    transform: scale(1.5);

    background-color: none;
    border: none;
    outline: none;

    color: #313638;

    cursor: pointer;
}

.back-btn:hover {
    text-shadow: 1px 1px #F06543;
}

#search-bar {
    position: fixed;
    top: 15vh;
    left: 25%;

    width: 40vw;
    height: 3vh;

    text-align: center;

    font-family: transducer,sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: clamp(0.8rem, 1vw, 0.8rem);

    background: none;
    border: 2px solid #313638;
    border-radius: 25em;
}

.mobile-ui {
    display: none;
}

.mobile-btn {
    display: none;
}

#mobile-post-btn {
    display: none;
}

#mobile-post-btn-c {
    display: none;
}

#m-post {
    display: none;
}

.mobile-explore {
    display: none;
}

/* Menu Styles */

#menu {
    position: fixed;
    left: 0;
    top: 30%;
    width: 7vw;
    margin-top: -2.5em;
    margin-left: 1vw;

    font-family: transducer,sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);
}

.menu-logo {
    position: relative;
    margin-top: 1vh;
    margin-left: 1vw;
    padding: 1vw;

    width: 5vw;

    transition: transform 500ms ease,
    border-radius 200ms ease;
}

.menu-item {
    position: relative;
    padding: 1vw;

    text-decoration: none;
    color: #313638;

    letter-spacing: 0.1vw;

    transition: opacity 600ms ease,
    margin-left 500ms ease,
    font-weight 200ms ease;
}

.menu-items:hover > .menu-item {
    opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
    opacity: 1;
    margin-left: 0.5vw;
    font-weight: 800;
}

.menu-logo:hover {
    transform: scale(1.05);
}

/* Feed Container */

#feed-container {
    position: fixed;
    top: 0;
    left: 15vw;

    height: 100vh;
    width: 60vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.feed-head {
    position: fixed;
    top: 2vh;

    width: 60vw;

    border-bottom: 2px solid #313638;
}

.feed-head-text {
    position: relative;
    left: 1vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

/* Trend Container */

#trend-container {
    position: fixed;
    top: 7vh;
    left: 77.5vw;

    height: 70vh;
    width: 20vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;
    border-top: 2px solid #313638;
    border-bottom: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.trend-head {
    position: fixed;
    top: 7vh;

    width: 20vw;

    border-bottom: 2px solid #313638;
}

.trend-head-text {
    position: relative;
    left: 1vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

.popular-trend {
    position: fixed;
    top: 21vh;

    height: 30vh;
    width: 60vw;

    border-top: 2px solid #313638;
    border-bottom: 2px solid #313638;
}

.current-trends {
    position: fixed;
    top: 51vh;

    height: 70vh;
    width: 60vw;
}

/* Explore Container */

#explore-container {
    position: fixed;
    top: 0;
    left: 15vw;

    height: 100vh;
    width: 60vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.explore-head {
    position: fixed;
    top: 2vh;

    width: 60vw;
    height: 10vh;

    border-bottom: 2px solid #313638;
}

.explore-head-text {
    position: relative;
    left: 5vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

.explore-tabs {
    position: fixed;
    top: 7vh;
    left: 30%;
    height: 10vh;
    width: 60vw;

    letter-spacing: 0.08em;

    font-family: transducer, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.explore-tab {
    padding: 1em;
    text-decoration: none;
    
    color: #313638;

    transition: opacity 500ms ease,
    font-weight 200ms ease;
}

.explore-tab.active {
    color: #F06543;
    border-bottom: 2px solid #F09D51;
    border-width: thick;
    font-weight: 800;
}

.explore-tabs:hover > .explore-tab {
    opacity: 0.3;
}

.explore-tabs:hover > .explore-tab:hover {
    opacity: 1;
    font-weight: 600;
}

/* Message Container */

#msg-container {
    position: fixed;
    top: 0;
    left: 15vw;

    height: 100vh;
    width: 60vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.msg-head {
    position: fixed;
    top: 2vh;

    width: 60vw;
    height: 10vh;

    border-bottom: 2px solid #313638;
}

.msg-head-text {
    position: relative;
    left: 5vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

/* Notification Container */

#noti-container {
    position: fixed;
    top: 0;
    left: 15vw;

    height: 100vh;
    width: 60vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.noti-head {
    position: fixed;
    top: 2vh;

    width: 60vw;
    height: 10vh;

    border-bottom: 2px solid #313638;
}

.noti-head-text {
    position: relative;
    left: 5vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

/* Profile Container */

#profile-container {
    position: fixed;
    top: 0;
    left: 15vw;

    height: 100vh;
    width: 60vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.profile-head {
    position: fixed;
    top: 2vh;

    width: 60vw;
    height: 10vh;

    border-bottom: 2px solid #313638;
}

.profile-head-text {
    position: relative;
    left: 5vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

.profile-bg-container {
    position: relative;
    margin-top: 12.3vh;

    height: 25vh;
    width: 60vw;

    background-image: url("https://images.unsplash.com/photo-1668607099931-2e8fc15dbec7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile-user-container {
    position: fixed;
    top: 37vh;

    height: 30vh;
    width: 60vw;
}

.profile-img {
    position: fixed;
    margin-left: 2vw;
    top: 30vh;

    height: 8em;
    width: 8em;

    border-radius: 100%;
    border: 2px solid #E8E9EB;

    box-shadow: 2px 2px #313638;

    background-image: url("https://images.unsplash.com/photo-1666375721519-8e6764e6e1ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile-tabs {
    position: fixed;
    top: 64vh;
    left: 33vw;
    height: 10vh;
    width: 60vw;

    letter-spacing: 0.08em;

    font-family: transducer, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profile-tab {
    padding: 1em;
    text-decoration: none;
    
    color: #313638;

    transition: opacity 500ms ease,
    font-weight 200ms ease;
}

.profile-describe {
    position: fixed;
    top: 47vh;
    margin-left: 2vw;

    height: 30vh;
    width: 60vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.user-descrip {
    font-size: clamp(1.2rem, 2vw, 1.2rem);
}

.user-descrip-p {
    font-size: clamp(0.7rem, 1vw, 0.7rem);
}

.user-description {
    font-family: transducer, sans-serif;
    font-weight: 100;
    font-style: normal;

    font-size: clamp(0.8rem, 1vw, 0.8rem);
}

.profile-extras {
    position: fixed;
    top: 58vh;
    margin-left: 0.3vw;

    float: left;

    height: 5vh;
    width: 56vw;

    text-align: left;
}

.la {
    margin-left: 0.5vw;
}

.fol {
    position: relative;
    float: left;
}

.fol.fowl {
    margin-left: 2vw;
}

.profile-tab.active {
    color: #F06543;
    border-bottom: 2px solid #F09D51;
    border-width: thick;
    font-weight: 800;
}

.profile-tabs:hover > .profile-tab {
    opacity: 0.3;
}

.profile-tabs:hover > .profile-tab:hover {
    opacity: 1;
    font-weight: 600;
}

/* Settings Container */

#settings-container {
    position: fixed;
    top: 0;
    left: 15vw;

    height: 100vh;
    width: 60vw;

    border-left: 2px solid #313638;
    border-right: 2px solid #313638;

    background-color: #E8E9EB;
    box-shadow: 10px 10px 0px 0px #131516;
}

.settings-head {
    position: fixed;
    top: 2vh;

    width: 60vw;
    height: 10vh;

    border-bottom: 2px solid #313638;
}

.settings-head-text {
    position: relative;
    left: 5vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    color: #313638;
}

.settings-menu {
    position: fixed;
    left: 15vw;
    top: 15vh;
    width: 10vw;
    height: 50vh;
    margin-left: 1vw;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1.5rem, 2vw, 1.5rem);
}

.settings-menu-n {
    position: fixed;
    left: 15vw;
    top: 15vh;
    width: 30vw;
    height: 20vh;
    margin-left: 1vw;

    float: left;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1rem, 2vw, 1rem);
}

.settings-menu-noti {
    position: fixed;
    left: 15vw;
    top: 15vh;
    width: 20vw;
    height: 20vh;
    margin-left: 1vw;

    float: left;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1rem, 2vw, 1rem);
}

.settings-menu-msg {
    position: fixed;
    left: 15vw;
    top: 15vh;
    width: 25vw;
    height: 20vh;
    margin-left: 1vw;

    float: left;

    font-family: transducer, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: clamp(1rem, 2vw, 1rem);
}

.setting-item {
    position: relative;

    text-decoration: none;
    color: #313638;

    padding: 1px;

    transition: color 500ms ease,
    opacity 500ms ease,
    text-shadow 500ms ease;
}

.setting-item-n {
    position: relative;
    float: left;

    text-decoration: none;
    color: #313638;

    padding: 1px;

    transition: color 500ms ease,
    opacity 500ms ease,
    text-shadow 500ms ease;
}

.settings-items:hover > .setting-item {
    opacity: 0.3;
}

.settings-items:hover > .setting-item:hover{
    opacity: 1;
    color: #F06543;
    text-shadow: 2px 2px #313638;
}

.settings-items:hover > .setting-item-n {
    opacity: 0.3;
}

.settings-items:hover > .setting-item-n:hover{
    opacity: 1;
    color: #F06543;
}
