* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #EAE6E5;
}

button {
    position: relative;
    height: 10vh;
    width: 10vh;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #12130F;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
    box-shadow: 0px 0px 10px #222;

    z-index: 2;

    transition: transform, background-color;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.85);
    background-color: #F71735;
}

button h1 {
    font-family: timonium,sans-serif;
    font-weight: 300;
    font-style: normal;

    font-size: clamp(3rem, 6vw, 3rem);

    color: #F9F7F3;
}

#btn {
    margin-bottom: 15vh;
}

.menu-head {
    position: absolute;
    margin-left: 2.95vw;
    transform: translateX(-200%);
    opacity: 0;

    transition: transform 400ms ease, opacity 3s ease, color 40ms ease;
}

.menu-head-2 {
    position: absolute;
    margin-left: 2.50vw;
    transform: translateX(-200%);
    opacity: 0;

    transition: transform 400ms ease, opacity 3s ease, color 40ms ease;
}

h2 {
    color: #12130F;
    text-align: center;
    z-index: 1;

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

span {
    color: #F9F7F3;
    font-size: clamp(2rem, 4vw, 2rem);
}

.menu-title {
    position:fixed;
    top:5vh;
    left: 10vw;
    z-index: 3;
    color: #12130F;

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-subtitle {
    position:fixed;
    top:9vh;
    left: 10vw;
    z-index: 3;
    color: #12130F;

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover + h2 {
    transform: translateX(2%);
    opacity: 1;
}

button:active + h2 {
    color: #F71735;
}

#menu {
    margin-top: 5vh;
    height: 25vh;
    width: 50vw;
    visibility: hidden;
    display: flex;
    align-items: center;

    z-index: 2;
}

.menu-items {
    margin-left: 2.5vw;
    position: relative;
    z-index: 2; 

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu-item {
    color: #12130F;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

    transition: opacity 400ms ease,
    margin 1s ease, 
    font-weight 50ms ease,
    transform 400ms ease,
    color 1s ease;
}

.menu-items:hover > .menu-item {
    opacity: 0.3;
    margin-left: 0;
    font-weight: 600;
}

.menu-items:hover > .menu-item:hover {
    opacity: 1;
    margin-left: 2vw;
}

.menu-item:active {
    color: #F71735;
    transform: scale(1.2);
}

.menu-item-page {
    color: #F71735;
    font-size: clamp(2rem, 4vw, 2rem);
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

    transition: opacity 400ms ease,
    margin 1s ease, 
    font-weight 50ms ease;
}

.menu-items:hover > .menu-item-page {
    opacity: 0.3;
    margin-left: 0;
    font-weight: 600;
}

.menu-items:hover > .menu-item-page:hover {
    opacity: 1;
    margin-left: 2vw;
}

#main-container {
    background-color: #2A2A2A;

    width: 95vw;
    height: 140vh;

    position: fixed;
    top: 0;
    left: 20vw;

    box-shadow: 0px 0px 10px #222;

    z-index: 3;
}

.container-1 {
    width: 100vw;
    height: 30vh;

    border-bottom: 2px solid rgba(234, 230, 225, 0.3);
}

.container-2 {
    width: 100vw;
    height: 40vh;

    border-bottom: 2px solid rgba(234, 230, 225, 0.3);
}

.container-3 {
    width: 100vw;
    height: 40vh;

    border-bottom: 2px solid rgba(234, 230, 225, 0.3);
}

.container-4 {
    width: 100vw;
    height: 40vh;

    border-bottom: 2px solid rgba(234, 230, 225, 0.3);
}

.category-container {
    width: 100vw;
    height: 20vh;

    position: relative;
    margin-top: 3vh;
}

.category-item {
    background-color: antiquewhite;

    width: 20vw;
    height: 15vh;
    border-radius: 20px;

    position: relative;
    float: left;

    margin-top: 2vh;
    margin-left: 2vw;
}

.page-title {
    position:fixed;
    top:5vh;
    left: 22vw;
    z-index: 3;
    color: #F9F7F3;

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-title {
    position:relative;
    top:3vh;
    left: 2vw;
    z-index: 3;
    color: #F9F7F3;

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

#now-playing-container {
    background-color: #12130F;

    width: 100vw;
    height: 10vh;

    position: fixed;
    bottom: 0;
    z-index: 3;

    box-shadow: 0px 0px 10px #222;
}

.now-playing {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;

    width: 50vw;
    height: 10vh;

    border-right: 1px solid rgba(234, 230, 225, 0.3);
}

.ablum-img {
    background-color: #EAE6E5;

    position: fixed;
    left: 0;

    width: 100px;
    height: 10vh;

    box-shadow: 0px 0px 20px #222;
}

.ablum-info {
    text-align: center;
    position: fixed;
    top: 2vh;
    left: 14.7vh;

    width: 40vw;

    font-family: articulat-cf,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ablum-info h4 {
    color: #F9F7F3;
}

.ablum-info p {
    color: #EAE6E5;
    opacity: 0.5;
}

.time-remain {
    background-color: #F9F7F3;

    position: fixed;
    bottom: 0;

    height: 1vh;
    width: 50vw;
    box-shadow: 0px 0px 1px #222;
}

.ai-link {
    text-decoration: none;

    transition: color 400ms ease, scale 1s ease;
}

.ai-link h4, p {
    transition: color 400ms ease, scale 1s ease;
}

.ai-link h4:hover {
    color: #EAE6E5;
}

.ai-link p:hover {
    color: #EAE6E5;
}

.ai-link h4:active {
    color: #F71735;
    transform: scale(1.05);
}

.ai-link p:active {
    color: #F71735;
    transform: scale(1.05);
}

.volume-control {
    position: fixed;
    right: 7vw;

    margin-top: 4vh;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
}

input[type="range"]::-moz-range-track {
    background: #EAE6E5;
    height: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;    
}

input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: #EAE6E5;
    box-shadow: 0px 0px 5px #222;
    border-radius: 100%;
    height: 1.2rem;
    width: 1.2rem;
    outline: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
    outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
    background-color: #F9F7F3; 
}

.profile-bg-container {
    background-color: #F71735;

    position: fixed;
    top: 0;

    width: 100vw;
    height: 30vh;
}

.profile-img-container {
    background-color: #EAE6E5;

    position: relative;
    margin-top: 15vh;
    margin-left: 2vw;

    width: 300px;
    height: 300px;

    border-radius: 100%;
    border: 10px solid #2A2A2A;
}

.profile-info-container h3 {
    position: relative;
    float: left;
    margin-left: 1vw;
}

.profile-info-container p {
    position: relative;
    float: left;
    margin-left: 1vw;
}

.profile-feed-container {
    background-color: #222;

    position: relative;
    margin-top: 2vh;

    width: 100vw;
    height: 50vh;
}

#settings-container {
    width: 50vw;
    height: 100vh;

    position: fixed;
    top: 0;

    margin-left: 20vw;
    margin-right: 25vw;

    border-right: 1px solid rgba(249, 247, 243, 0.3);
    border-left: 1px solid rgba(249, 247, 243, 0.3);
}

.settings-head {
    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;

    font-size: clamp(2rem, 4vw, 2rem);

    color: #F9F7F3;

    position: relative;
    bottom: 8vh;

}

.settings {
    width: 50vw;
    height: 100vh;
}

.settings-search {
    position: relative;
}

.set-search-bar {
    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;

    width: 70vw;
    height: 5vh;

    position: fixed;
    top: 12vh;
    margin-left: 5vw;

    background: none;
    border: 1px solid rgba(249, 247, 243, 0.3);
    color: #FAF8F5;
    resize: none;

    border-radius: 20px;
}

.set-search-bar:focus {
    outline-color: #F71735;
}

#settings-menu {
    width: 50vw;
    height: 75vh;

    position: relative;
    margin-top: 20vh;
}

.set-menu-items {
    margin-top: 15vh;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.set-item-container {
    width: 50vw;
    height: 5vh;

    position: relative;
    top: 1vh;

    float: left;
}

.set-menu-item {
    color: #F9F7F3;

    text-decoration: none;
    position: fixed;
    left: 23vw;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
}

.set-item-container:hover {
    margin-left: 1vw;
    border-radius: 100px;
    background-color: rgba(249, 247, 243, 0.1);
    width: 10vw;
    height: 5vh;
    box-shadow: 0px 0px 5px #222;
}

.support-search {
    width: 100vw;
    height: 25vh;
}

.main-search {
    position: fixed;
    top: 5vh;
}

.page-subtitle {
    color: #F9F7F3;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: clamp(1.5rem, 3vw, 1.5rem);

    position: relative;
    margin-left: 1vh;
    margin-top: 1vh;
}




.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 4;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EAE6E5;
    padding: 1rem 1.5rem;
    width: 24rem;
    height: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    width: 2rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #F71735;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.close-button:hover {
    background-color: #2A2A2A;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

.trigger {
    cursor: pointer;
}

.form-head {
    text-align: center;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;

    margin-bottom: 1vh;
}

form {
    display: block;
    align-items: center;

    width: 25rem;
    height: 15rem;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.labelu {
    position: relative;
    float: left;

    width: 10rem;

    text-align: center;

    margin-bottom: 1vh;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.labelp {
    position: relative;
    float: left;

    width: 10rem;

    text-align: center;

    margin-bottom: 1vh;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.uname {
    position: relative;
    float: left;

    text-align: center;

    margin-left: 3rem;

    margin-bottom: 1vh;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.upass {
    position: relative;
    float: left;

    text-align: center;

    margin-left: 3rem;

    margin-bottom: 1vh;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#form-btns {
    text-align: center;
}

.btn-login {
    position: relative;
    margin-right: 1rem;

    outline: none;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;

    border-radius: 100%;
    height: 5rem;
    width: 5rem;

    cursor: pointer;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-signup {
    position: relative;
    margin-right: 5rem;

    outline: none;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;

    border-radius: 100%;
    height: 5rem;
    width: 5rem;

    cursor: pointer;

    font-family: apparat, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-login, .btn-signup {
    transition: background-color 400ms ease, transform 400ms ease;
}

.btn-login:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.btn-signup:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.btn-login:active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(0.90);
}

.btn-signup:active {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(0.90);
}